<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>All Pokemon</title>
  <link href="/main.css" rel="stylesheet" type="text/css">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</head>

<%
let index = Math.round(Math.random() * 10);
const colors = ['red', 'pink', 'purple', 'blue', 'cyan', 'teal', 'green', 'light-green', 'yellow',
'orange', 'indigo']
%>
<body class="<%=colors[index]%>">
    <div class="error valign-wrapper">
      <div class="text">
        <p><%= message %></p>
        <p><%= error %></p>
      </div>
      <img src="https://media4.giphy.com/media/cMNAgfvFfbXCE/200.webp#0-grid7" alt="">
    </div>
</body>

</html>
<!-- RED DATA HERE -->

</tbody>
</table>
</body>

</html>
